!!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'tenplate'
    %link{'rel' => "alternate", 'type' => "application/rss+xml", 'title' => "RSS 2.0", 'href' => "http://www.3floyds.com/pages/1.rss"}

  %body
    #grid
      = yield
    #footer
      #copyright &copy; 2002-2009 three floyds.
    = javascript_include_tag :all
    = yield :javascript

    :javascript
      $(
        #{yield :onReady}
      );
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-8299514-1");
      pageTracker._trackPageview();
      } catch(err) {}
